.poster {

    text-align: center;
    color: white;
    /* margin: 5% 30%;
    width: 50%; */
}

h1 {font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;}

    html{

        background-color: black;
    }

img {

    border: solid white 5px; 
    width: 50vh;
    height: 50vh;
    margin-top: 50px;
}