.first{

    width: 200px;
    height: 200px;
    background-color: aqua;
    /* color: aqua; -- This did not work to color the box, hence we should use background color to colour the box */
    border: solid;
    border-width: 10px;
    padding: 20px;
}
.second{

    width: 200px;
    height: 200px;
    background-color:red;
    border: solid;
    border-width: 20px;
    margin-left: 260px;
}

.Third{

    width: 200px;
    height: 200px;
    background-color:yellow;
    border: solid;
    border-width: 10px;
    margin-left: 500px;
}

*{
    margin: 0;
    /* padding: 0; */
}